<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huihongcloud.mapper.DeviceMaintenanceAbnormalDataMapper">
    <resultMap id="DeviceMaintenanceAbnormalData" type="cn.huihongcloud.entity.device.DeviceMaintenanceAbnormalData">
        <id column="id" property="id"/>
        <result column="device_id" property="deviceId"/>
        <result column="batch" property="batch"/>
        <result column="num" property="num"/>
        <result column="male_num" property="maleNum"/>
        <result column="female_num" property="femaleNum"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="date" property="date"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="altitude" property="altitude"/>
        <result column="img_id" property="imageId"/>
        <result column="drug" property="drug"/>
        <result column="remark" property="remark"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="town" property="town"/>
        <result column="working_content" property="workingContent"/>
        <result column="other_type" property="otherType"/>
        <result column="other_num" property="otherNum"/>
    </resultMap>
    <update id="updateMaintenanceAbnormalData">
        update device_maintenance_abnormal
        <set>
            <if test="num != null and num != ''">
                num = #{num},
            </if>
            <if test="maleNum != null and maleNum != ''">
                male_num = #{maleNum},
            </if>
            <if test="femaleNum != null and femaleNum != ''">
                female_num = #{femaleNum},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="date != null">
                `date` = #{date},
            </if>
            <if test="longitude != null and longitude != ''">
                longitude = #{longitude},
            </if>
            <if test="latitude != null and latitude != ''">
                latitude = #{latitude},
            </if>
            <if test="altitude != null and altitude != ''">
                altitude = #{altitude},
            </if>
            <if test="drug != null and drug != ''">
                drug = #{drug},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="batch != null and batch != ''">
                batch = #{batch},
            </if>
            <if test="workingContent != null and workingContent !=''">
                working_content = #{workingContent},
            </if>
            <if test="otherType != null">
                other_type = #{otherType},
            </if>
            <if test="otherNum != null">
                other_num = #{otherNum},
            </if>

        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        update device_maintenance_abnormal
        <set>

                isactive = '1',

        </set>
        where id = #{id}
    </delete>
    <update id="reportData">
        update device_maintenance
        set reported = 1
        where id = #{id}
    </update>
    <select id="getMaintenanceDataByAdcodeAndTown" resultMap="DeviceMaintenanceAbnormalData">
        select device_maintenance_abnormal.id,
        device_maintenance_abnormal.device_id,
        device_maintenance_abnormal.batch,
        device_maintenance_abnormal.num,
        device_maintenance_abnormal.male_num,
        device_maintenance_abnormal.female_num,
        device_maintenance_abnormal.username,
        user.name,
        device_maintenance_abnormal.date,
        device_maintenance_abnormal.longitude,
        device_maintenance_abnormal.latitude,
        device_maintenance_abnormal.altitude,
        device_maintenance_abnormal.img_id,
        device_maintenance_abnormal.drug,
        device_maintenance_abnormal.remark,
        device.province,
        device.city,
        device.area,
        device.town,
        device_maintenance_abnormal.working_content,
        device_maintenance_abnormal.other_type,
        device_maintenance_abnormal.other_num
        from device_maintenance_abnormal
        left join device on device.id = device_maintenance_abnormal.device_id
        left join user on device_maintenance_abnormal.username = user.username
        where device_id in
        (select id from device where
        1 = 1
        <if test="adcode != null and adcode != ''">
            and
            adcode like concat(#{adcode}, '%')
        </if>

        <if test="town != null and town != ''">
            and
            town = #{town}
        </if>
        )
        <if test="condition != null and condition != '' and condition !='null'">
            and (
            user.username like concat('%', #{condition}, '%') or
            device.province like concat('%', #{condition}, '%') or
            device.city like concat('%', #{condition}, '%') or
            device.area like concat('%', #{condition}, '%') or
            device.town like concat('%', #{condition}, '%') or
            user.username like concat('%', #{condition}, '%') or
            user.name like concat('%', #{condition}, '%') or
            device_maintenance_abnormal.device_id like concat('%', #{condition}, '%')
            )
        </if>
        <if test="date != null and date != '' and date !='null'">
            and `date` &gt;= #{date}
        </if>

        <if test="endDate != null and endDate != '' and endDate !='null'">
            and `date` &lt;= #{endDate}
        </if>
        and isactive='0'
        order by `device_id` asc
    </select>

    <select id="getMaintenanceDataByManager" resultMap="DeviceMaintenanceAbnormalData">
        select device_maintenance_abnormal.id,
        device_maintenance_abnormal.device_id,
        device_maintenance_abnormal.batch,
        device_maintenance_abnormal.num,
        device_maintenance_abnormal.male_num,
        device_maintenance_abnormal.female_num,
        device_maintenance_abnormal.username,
        user.name,
        device_maintenance_abnormal.date,
        device_maintenance_abnormal.longitude,
        device_maintenance_abnormal.latitude,
        device_maintenance_abnormal.altitude,
        device_maintenance_abnormal.img_id,
        device_maintenance_abnormal.drug,
        device_maintenance_abnormal.remark,
        device.province,
        device.city,
        device.area,
        device.town,
        device_maintenance_abnormal.working_content,
        device_maintenance_abnormal.other_type,
        device_maintenance_abnormal.other_num
        from device_maintenance_abnormal
        left join device on device.id = device_maintenance_abnormal.device_id
        left join user on device_maintenance_abnormal.username = user.username
        where device_id in
        (select id from device where
        1 = 1
        <if test="adcode != null and adcode != ''">
            and
            adcode like concat(#{adcode}, '%')
        </if>

        <if test="town != null and town != ''">
            and
            town = #{town}
        </if>
        )
        <if test="condition != null and condition != '' and condition != 'null'">
            and (
            user.username like concat('%', #{condition}, '%') or
            device.province like concat('%', #{condition}, '%') or
            device.city like concat('%', #{condition}, '%') or
            device.area like concat('%', #{condition}, '%') or
            device.town like concat('%', #{condition}, '%') or
            user.username like concat('%', #{condition}, '%') or
            user.name like concat('%', #{condition}, '%') or
            device_maintenance_abnormal.device_id like concat('%', #{condition}, '%')
            )
        </if>
        <if test="date != null and date != '' and date !='null'">
            and `date` &gt; #{date}
        </if>

        <if test="endDate != null and endDate != '' and endDate!= 'null'">
            and `date` &lt;= #{endDate}
        </if>
        <if test="manager != null">
            and device.manager = #{manager}
        </if>
        and isactive='0'
        order by `device_id` asc
    </select>
</mapper>